<div class="productsPage">
    <div class="productsHeader">
        <h1>Products</h1>
    </div>
    <div class="productsList">
        <div class="options">

        </div>
        <div class="items">
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
            <app-product-item></app-product-item>
        </div>
    </div>
</div>