.login{
    display: flex;
    justify-content: space-between;
    // height: 80px;
    div{
        width: 33.33% !important;
    }
    img{
        width: 100%;
    }
    .center{
        text-align: center;
        align-self: center;
        width: fit-content;
        display: flex;
        flex-direction: column;
        width: 100%;
        form{
            width: 100%;
            input {
                 
                padding: 12px 20px;
                margin: 8px 60px;
                box-sizing: border-box;
                background: transparent;
                border: 0;
                border: 1px black solid;
                outline:0;
            }
            button{
                padding: 12px 20px;
                margin: 8px 60px;
                box-sizing: border-box;    
                background: transparent;
                border: 0;
                border: 1px black solid;
                outline:0;
            }
        }
        h1{
            font-weight: lighter;
            font-size: 50px;
        }
    }

}