<div class="login">
    <div class="left">
        <img src="../../../../assets/images/item.png" alt="">
    </div>
    <div class="center">
        <h1>SIGN IN</h1>
        <p>Don't have an account? <a [routerLink]="['/register']" href="">Sign Up</a></p>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <input type="text" formControlName="email" id="email" placeholder="e-mail" type="email">
            <input type="text" formControlName="password" id="password" placeholder="password" type="password">
            <button [type]="'submit'">LOG IN</button>
        </form>
        <a href="">Forgot your password?</a>
    </div>
    <div class="right">
        <img src="../../../../assets/images/item.png" alt="">
    </div>
</div>