<nav>
    <div class="main">
        <div class="left">
            <ul>
                <li class="nav-item dropdown">
                    <a routerLink="/sale">SALE</a>
                    <span></span>
                </li>
                <li id="shopItem">
                    <a routerLink="/products">SHOP</a>
                    <span></span>
                </li>
            </ul>
        </div>
        <div class="center">
            <a [routerLink]="['/']" routerLinkActive="router-link-active"><h2>OVERTHESEA</h2></a>
            
        </div>
        <div class="right">
            <div class="navBtn">
                <a routerLink="/home">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
                </a>
            </div>
            <ul>
                <li *ngIf="!isLogged">
                    <a routerLink="/login">SIGN IN</a>
                    <span></span>
                </li>
                <li *ngIf="isLogged">
                    <a routerLink="/me">MY ACCOUNT</a>
                    <span></span>
                </li>
                <li>
                    <a routerLink="/cart">CART (1)</a>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div id='fullNav' class="fullNav dropdown-menu">
        <div class="left row">
            <div class="col">
                <h4>COLLECTIONS</h4>
                <ul>
                    <a routerLink="/products" ><li>PHENOMENON</li></a>
                    <a routerLink="/products" ><li>ILLYLLUM</li></a>
                    <a routerLink="/products" ><li>30 FEELINGS</li></a>
                    <a routerLink="/products" ><li>PHANTOM ISLAND</li></a>
                    <a routerLink="/products" ><li>ELEMENTS</li></a>
                </ul>
            </div>
            <div class="col">
                <h4>CATEGORIES</h4>
                <ul>
                    <li>DRESSES</li>
                    <li>SKIRTS</li>
                    <li>PANTS</li>
                    <li>TOPS</li>
                </ul>
            </div>
            <div class="col">
                <h4>STYLES</h4>
                <ul>
                    <li>BOHO</li>
                    <li>VINTAGE</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <app-product-item ></app-product-item>
            <app-product-item ></app-product-item>
        </div>
    </div>
</nav>