<nav>
    <div class="main">
        <div class="left">
            <ul>
                <li>
                    <a routerLink="/sale">SALE</a>
                    <span></span>
                </li>
                <li>
                    <a routerLink="/products">SHOP</a>
                    <span></span>
                </li>
                <li>
                    <a routerLink="/about">ABOUT</a>
                    <span></span>
                </li>
            </ul>
        </div>
        <div class="center">
            <a [routerLink]="['/']" routerLinkActive="router-link-active"><h2>OVERTHESEA</h2></a>
            
        </div>
        <div class="right">
            <div class="navBtn">
                <a routerLink="/home">
                    fds
                </a>
            </div>
            <ul>
                <li>
                    <a routerLink="/login">SIGN IN</a>
                    <span></span>
                </li>
                <li>
                    <a routerLink="/me">MY ACCOUNT</a>
                    <span></span>
                </li>
                <li>
                    <a routerLink="/cart">CART (1)</a>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="fullNav">
        <div class="left">
            <div>
                <h4>COLLECTIONS</h4>
                <ul>
                    <a routerLink="/products" ><li>PHENOMENON</li></a>
                    <a routerLink="/products" ><li>ILLYLLUM</li></a>
                    <a routerLink="/products" ><li>30 FEELINGS</li></a>
                    <a routerLink="/products" ><li>PHANTOM ISLAND</li></a>
                    <a routerLink="/products" ><li>ELEMENTS</li></a>
                </ul>
            </div>
            <div>
                <h4>CATEGORIES</h4>
                <ul>
                    <li>DRESSES</li>
                    <li>SKIRTS</li>
                    <li>PANTS</li>
                    <li>TOPS</li>
                </ul>
            </div>
            <div>
                <h4>STYLES</h4>
                <ul>
                    <li>BOHO</li>
                    <li>VINTAGE</li>
                </ul>
            </div>
        </div>
        <div class="right">
            <app-product-item ></app-product-item>
            <app-product-item ></app-product-item>
        </div>
    </div>
</nav>