<nav>
    <div class="main">
        <div class="left">
            <ul>
                <li>
                    <a routerLink="/home">SALE</a>
                    <span></span>
                </li>
                <li>
                    <a routerLink="/home">SHOP</a>
                    <span></span>
                </li>
                <li>
                    <a routerLink="/home">ABOUT</a>
                    <span></span>
                </li>
            </ul>
        </div>
        <div class="center">
            <h2>OVERTHESEA</h2>
        </div>
        <div class="right">
            <div class="navBtn">
                <a routerLink="/home">
                    fds
                </a>
            </div>
            <ul>
                <li>
                    <a routerLink="/home">ENG</a>
                </li>
                <li>
                    <a routerLink="/home">CART</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="fullNav">
        <div class="left">
            <div>
                <h4>COLLECTIONS</h4>
                <ul>
                    <li>Lorem</li>
                    <li>Lorem</li>
                    <li>Lorem</li>
                    <li>Lorem</li>
                </ul>
            </div>
            <div>
                <h4>COLLECTIONS</h4>
                <ul>
                    <li>Lorem</li>
                    <li>Lorem</li>
                    <li>Lorem</li>
                    <li>Lorem</li>
                </ul>
            </div>
            <div>
                <h4>COLLECTIONS</h4>
                <ul>
                    <li>Lorem</li>
                    <li>Lorem</li>
                    <li>Lorem</li>
                    <li>Lorem</li>
                </ul>
            </div>
        </div>
        <div class="right">
            fsd
        </div>
    </div>
</nav>