@import 'variables.scss';

nav{
    display: flex;
    justify-content: space-between;
    
    div{
        width: 33.33%;
    }
    .left{
        display: flex;
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            height: 80px;
            margin-left: 45px;
            font-weight: bold;

            li{
                margin-right: 20px;
                cursor: pointer;

                a{
                    color: #333;
                    font-size: 14px;
                    &:hover{
                        transition: 200ms ease-in-out;    
                    }
                }
                span{
                    width: 0%;
                    display: block;
                    background: black;
                    height: 2px;
                    padding: 3px auto;
                    animation: out 300ms;
                }
                &:hover > span {
                    animation: in 300ms forwards; 
                }
                @keyframes in {
                    from { width: 0%; }
                    to { width: 100%;}
                }
                @keyframes out {
                    from  { width: 100%; }
                    to { width: 0%; }
                }
            }

        }
    }
    
    .center{
        text-align: center;
        align-self: center;
    }
    .right{
        display: flex;
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: 45px;
            font-weight: bold;
            width: 100%;
            justify-content: flex-end;
            li{
                margin-right: 20px;
                cursor: pointer;
                
                a{
                    color: #333;
                    font-size: 14px;
                    &:hover{
                        transition: 200ms ease-in-out;    
                    }
                }
                span{
                    width: 0%;
                    display: block;
                    height: 2px;
                    padding: 3px auto;
                    animation: out 300ms;
                }
                &:hover > span {
                    animation: in 300ms forwards; 
                }
                @keyframes in {
                    from { width: 0%; }
                    to { width: 100%;}
                }
                @keyframes out {
                    from  { width: 100%; }
                    to { width: 0%; }
                }
            }

            //Align items in right of the navbar
            
        }
        
    }
}