
footer{
    a{
        text-decoration: none;
    }
    ul{
        list-style: none;
        padding: 0;
    }

    hr{
        // margin-bottom: 5%;
        background-color: black;
        padding: 1px;
        border: none;
        z-index: -2;
    }
    .container{
        width: 85%;
        margin: auto;
        input{
            width: 100%;
            margin: 5px 0;
        }
        button{
            width: 100%;
        }
    }

}
