<div class="containerr">
    <p class="cart-text">Cart</p>
    <div class="product-container" *ngFor="let item of productsData">
        <!-- image -->
        <div class="cont">
            <div class="img-container">
                <img src="{{item.image}}" alt="">
            </div>
            <!-- info -->
            <div class="details">
                <p>{{item.name}}</p>
                <p>$ {{item.price}}</p>
            </div>
        </div>
        <div class="removeBtn">
            <button (click)="removeItem(item.id)">REMOVE</button>
        </div>
    </div>
    <div class="dis-flex">
        <p>Total</p>
        <p>$ {{totalPrice}}</p>
    </div>
    <div class="center">
        <button>CHECK OUT</button>
    </div>
    
</div>
