<div class="container">
    <p class="cart-text">Cart</p>
    <div class="product-container">
        <!-- image -->
        <div class="img-container">
            <img src="../../../../../assets/images/item.png" alt="">
        </div>
        <!-- info -->
        <div class="">
            <p>Rolling Tray Bundle </p>
            <p>$53.94</p>
        </div>
    </div>
    <div class="dis-flex">
        <p>Total</p>
        <p>$53.94</p>
    </div>
    <div class="center">
        <button>CHECK OUT</button>
    </div>
    
</div>
