<div class="productDetail">
    <div class="mainDetails">
        <div class="productImage">
            <img class="productImage" src="../../../../assets/images/item.png" alt="">
        </div>
        <div class="details">
            <h1>Muse Dress</h1>
            <p>$ 6,160.00</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci nobis dolor perferendis repellat. Molestias maxime quibusdam consequuntur ab eos similique nihil eaque cumque nam. Quae inventore porro blanditiis dicta reiciendis?</p>
            <button>ADD TO CART</button>
            <p>Sizes</p>
            <div class="sizes">
                <div class="size">
                    <p>S</p>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="size">
                    <p>M</p>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="size">
                    <p>L</p>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="size">
                    <p>XL</p>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="size">
                    <p>XXL</p>
                    <input type="checkbox" name="" id="">
                </div>
            </div>
        </div>
    </div>
    <h1>You may also like</h1>
    <div class="recommendations">
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
    </div>
</div>